<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css" />
  </head>
  <body>
    <nav>
      <h1>Admin Dashboard</h1>

      <div class="nav-links">
        <a href="/admin/home" class="active">Home</a>
        <a href="/admin/products">Products</a>
        <a href="/admin/orders">Orders</a>
        <a href="/admin/customers">Customers</a>
        <a href="/admin/suppliers">Suppliers</a>
        <a href="/logout">Logout</a>
      </div>
    </nav>

    <main>
      <h2>Summary of inventory</h2>
    </main>
  </body>
</html>
