* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.products-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: seagreen;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgb(55, 168, 104);
}

thead {
  background-color: aqua;
}

tbody tr:nth-child(odd) {
  background-color: bisque;
}

th {
  padding: 0.5rem 1rem;
}

td {
  text-align: right;
  padding: 0.25rem 0.5rem;
}

th:first-child,
td:first-child {
  text-align: left;
}
