* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  background-color: seagreen;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgb(55, 168, 104);
}
