* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  padding: 2rem;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #eee;
  border-radius: 8px;
}

h1 {
  margin-bottom: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

input {
  width: 300px;
  padding: 0.5rem;
  border: 2px solid #999;
  border-radius: 4px;
  font-size: inherit;
}

.btn {
  padding: 0.75rem 1rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  background-color: seagreen;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: rgb(55, 168, 104);
}

.error {
  padding: 0.5rem;
  border-radius: 4px;
  border-left: 4px solid darkred;
  color: darkred;
  background-color: rgb(255, 200, 200);
}
